.body {
  background-image: url('../assets/images/boston-harbor.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.3);
    padding-bottom: 30px;

    .title {
      margin-bottom: 8px;
    }
  
    .description {
      max-width: 40rem;
      text-align: center;
    }
  }

  .data {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .data-container {
      height: 550px;
      width: 600px;
      background: white;
      opacity: 0.8;
      overflow-wrap: break-word;
      overflow: auto;
      padding: 10px;
    }

    .format-options {
      height: 240px;
      width: 200px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      button {
        max-width: 80px;
      }

      h5 {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}

.hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: .8; }
}

.ease-to-display {
  &-fast {
    visibility: visible;
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
  }

  &-slow {
    visibility: visible;
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
  }
}

.button {
  &-blue {
    background-color: #4E81FE;
    color: white;
    
    &:hover {
      background-color: #314873;
    }
  }
}