<div class="body">
  <section class="header">
    <h1 class="title">
      Hubspot Code Challenge - Nathan Brown
    </h1>
    <p class="description">
      Hey Hubspot crew! I decided to create an Angular application to run the code challenge you sent me.
      While rxjs provides a lot of methods to manipulate data, I did most of the manipulation using pure 
      JavaScript, as I wanted to make sure that the code I wrote was more applicable to the work that I'll
      be doing with all of you once I start. To get started, click the button below!
    </p>
    <button
      (click)="getInitialData()"
      mat-button 
      class="button-blue"
    >
      Get the data!
    </button>
  </section>

  <section 

    class="data"
  >
    <div class="data-container initial" [ngClass]="initialData ? 'ease-to-display-slow' : 'hide'">
      <h1>Response from original request</h1>
      {{ initialData }}
    </div>

    <div class="data-container formatted" [ngClass]="formattedData ? 'ease-to-display-slow' : 'hide'">
      <h1>Request sent</h1>
      {{ formattedData }}
    </div>
  </section>
</div>